body {
  margin-top: 1.0em;
  background-color: #FFFFFF;
  font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  color: #000;
  font-style: sans-serif;
}
#container {
  margin: 0 auto;
  width: 900px;
}
h1 { font-size: 3.8em; color: #53b2bb; margin-bottom: 3px; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }
h1 .small { font-size: 0.4em; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #53b2bb; text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); }
h3 { text-align: center; color: #53b2bb; }
a { color: #53b2bb; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; }
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic; }

