@charset "utf-8"
body{
  font-size: 18px;
  font-family: 'メイリオ',Meiryo,Tahoma,Arial,Verdana,sans-serif;
  line-height: 180%;
}

h1{
  font-size: 18px;
}

.ident{
  color: red;
}

#template, #template2{
  display: none;
}
